################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NoteApp/NoteApp/.vs/NoteApp
/NoteApp/.vs/NoteApp
